<div>
    <% if (error.length > 0)  { %>
        <div class="p-3 rounded">
            <div class="alert alert-custom alert-notice alert-light-danger fade show" role="alert">
                <div class="alert-icon"><i class="flaticon-warning"></i></div>
                <div class="alert-text">
                    <h5><%= __('admin.general.messages.error')%></h5>
                    <ul>
                        <% for (let err of error) { %>
                        <li><%= err.message %></li>
                        <% } %>
                    </ul>
                </div>
                <div class="alert-close">
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true"><i class="ki ki-close"></i></span>
                    </button>
                </div>
            </div>
        </div>
    <% } else if (message.length > 0)  { %>
        <div class="p-3 rounded">
            <div class="alert alert-custom alert-notice alert-light-success fade show" role="alert">
                <div class="alert-icon"><i class="flaticon2-check-mark"></i></div>
                <div class="alert-text">
                    <h5><%= __('admin.general.messages.error')%></h5>
                    <ul>
                        <li><%= message %></li>
                    </ul>
                </div>
                <div class="alert-close">
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true"><i class="ki ki-close"></i></span>
                    </button>
                </div>
            </div>
        </div>
    <% } %>

</div>