<div class="form-group col-12 col-lg-6">
    <form action="" method="get">
        <div class="input-group">
            <input value="<%= search%>" type="search" name="search" class="form-control" placeholder="<%= __('admin.actions.search')%>" />
            <% if (currentPage){ %>
                <input value="<%= currentPage%>" type="text" name="page" class="d-none" />
            <% }%>
            <div class="input-group-append">
                <button class="btn btn-secondary" type="submit"><%= __('admin.actions.search')%></button>
            </div>
        </div>
    </form>
</div>